repos:
  - repo: local
    hooks:
      - id: check-branch-name
        name: validate branch name
        entry: .github/scripts/check-branch-name.sh
        language: script
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: pretty-format-json
        args: [ --autofix ]
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/antonbabenko/pre-commit-terraform  # Terraform hooks.
    rev: v1.104.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs
